@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


body{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    background-image: url(estantes.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}
nav{
    text-align: center;
    font-size: larger;
}

h1.titulo{
    text-align: left;
    height: 46px;
    padding: 42px;
    margin: 33px;
    font-variant: small-caps;
                
}
h1{
    color: black;
    text-align: center;
}

div#menuVertical{
    background-color: rgb(255, 255, 255);
   
}
a:hover{
    background-color: rgb(240, 240, 240);
}
a{
    text-decoration: none;
    color: rgb(29, 28, 25);
}
img#logo{
    max-width: 500px;
    max-height: 400px;
}
/*div#introCafe{
    display: inline-block;
}*/
#introducao{
    max-width: 890px;
    min-width: 100px;
    padding: 18px;
    margin: left;
    display: block;
}
img#cafe{
    max-width: 700px;
    max-height: 250px;
    padding: 16px;
    margin-left: auto;
    
    margin-top: -300px;
    display: block;
        
}
img#karen{
    max-width: 600px;
    max-height: 450px;
    padding: 16px;
    margin: 6px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
img#pirata{
    max-width: 531px;
    max-height: 420px;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
main{
    background-color: rgb(255, 255, 255);
    max-width: 1440px;
    min-height: 785px;
    margin: 60px;
    padding: 60px;
    border: solid rgba(207, 203, 203, 0.452);
    
}

div{
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

p{
    margin: auto;
    text-align: justify;
    padding: 15px;
    
}
h2, h3{
    padding: 15px;
    margin: 15px;
}
div.rodape{
    background-color: rgb(240, 240, 240);
    text-align: center;
    margin: 60px;
    padding: 60px;
   
}